/* ******************* RESET ******************** */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4c4c4c;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e8e8e8;
}

/* ******************* CABEÇALHO ******************** */
.header {  
  width: 100%;
  height: 50px; 
  background: #ffbb00;
}
input[type="checkbox"] {
  display: none;
}
.fa-bars {
  width: 5%;
  font-size: 1.5em;
  float: left;
  margin: 10px 15px;  
  cursor: pointer;
}
header h1 {
  font-size: 1.4em;
  margin-left: 2%;
  float: left;
  margin: 5px;
}
header a,
header strong {
  color: #000;
}
header form {
  width: 50%;
  height: 30px;
  margin-top: 5px; 
  float: left;
  margin-left: 2%;
  background: #f5b400;
}
.fa-search {
  margin-top: 5px;
}
header form i {
  float: left;
  width: 5%;
  margin-right: 3%;
  margin-left: 1%;
  cursor: pointer;
}
header form input {
  float: left;
  width: 85%;
  height: 25px;
  margin-top: 3px;
  margin-left: 1%;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  outline: none;
}
nav {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  float: left;
  margin-left: -110%; 
  margin-top: 50px; 
  transition: all 0.6s ease;
  background: #ffbb00;  
}
input[type="checkbox"]:checked ~ nav {
  margin-left: 0;  
}
nav ul {  
  margin-left: 17px;
}
nav li {
  margin-top: 10px;
  padding-bottom: 40px;
}
nav a {  
  color: #010101;
}
nav i {
  margin-top: -1px;
}

/* ******************* NOTAS ******************** */
.clear {
  clear: both;
}
.criar {
  background-color: #fafafa;
}
main {
  width: 100%;
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
}
section.notas {
  width: 100%;
  margin: 5px auto;
  padding: 15px;
}
.notas article {
  width: 100%;
  float: left;
  padding: 5px;
  margin-top: 20px;
  box-shadow: -1px 1px 2px rgba(114, 104, 125, .87);
}

/* FUNDO DAS NOTAS PAR E IMPAR */
.notas article:nth-child(odd) {
  background-color: #a7ffeb;
}
.notas article:nth-child(even) {
  background-color: #ffff8d;
}
.notas article h4 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}
.notas article p {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.1em;
}
.notas article ul {
  list-style: none;
  margin-left: 10px;
  padding: 5px;
}
.notas article li {
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}

/********** postite com efeito hover *********/

.notas article:hover {
  /*  nome animaçao duração estilo dalay loop alternar*/

  /*animation: animacaoBolada 0.5s ease 0.1s infinite alternate;*/
  animation: animacaoBolada 0.80s ease 0.1s infinite alternate; 
}
.notas .acoes { 
  margin: 0;
  width: 60%;
  height: 30px;
  float: right;
  padding: 5px;
}
.notas .acoes i {
  width: 20px;
  margin-left: 5px;  
}
fieldset {
  padding: 8px;
  border-radius: 5px;
}
fieldset#notas label,
fieldset#notas input {
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

fieldset#notas input {
  font-size: 1.2em;
  border-style: none;
  outline: none;
  border-radius: 5px;
}
fieldset#nota-itens {
  cursor: pointer;
}
div#div-new label {
  width: 20%;
  float: left;
}
div#div-new input {
  float: left;
  width: 70%;
  box-shadow: 4px 3px 2px #ccc;
}
#mais-item {
  margin-bottom: 10px;
}
.salvar {
  float: right;
  width: 150px !important;
  padding: 2px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 15px;
  outline: none;
  box-shadow: 4px 3px 2px #ccc;
  background-color: #ffbb00;
  color: #4c4c4c;
  cursor: pointer;
}
@keyframes animacaoBolada {
  from {
    margin-top: 20px;
    box-shadow: -1px 1px 2px rgba(114, 104, 125, .87);
  }
  to {
    margin-top: 17px;
    margin-left: 5px;
    box-shadow: -2px 3px 10px rgba(114, 104, 125, .87);
  }
}
@media screen and (min-width: 600px) {
  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .fa-bars {
    display: none;
  }
  header h1 {
    font-size: 1.5em;
    margin-left: 10px;
  }
  header form {    
    height: 40px;
    padding: 5px; 
    margin-top: 0; 
  }
  nav {
    position: static;
    width: 20%; 
    margin-left: 10px;
    margin-top: 0px; 
  }
  nav ul {
    display: flex;
    margin-left: 0;
  }
  nav ul li {
    padding: 5px;
    margin-left: 20px;
    margin-top: 0;
    padding-bottom: 0;
  }
  main {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .notas article {
    width: 240px;
    margin-left: 20px;
  }
  div#div-new label {
    width: 10%;
  }
  div#div-new input {
    width: 85%;
  }
}
